# Scapy and supporting packages
scapy-python3

# Essential supporting packages
netifaces
cryptography

# Optional support packages for special features
pyx
networkx
graphviz

# Currently having issues with pip-compile.
# Run `pip install matplotlib`
# matplotlib

# Jupyter
jupyter
yapf
