# Scapy and supporting packages
# NOTE: 0.22 doesn't work in OS X because it uses AF_PACKET
scapy-python3>=0.23

# Essential supporting packages
netifaces
cryptography

# Optional support packages for special features
pyx
networkx
graphviz

# Currently having issues with pip-compile.
# Run `pip install matplotlib`
# matplotlib

# Jupyter
jupyter
yapf
