# Scapy and supporting packages
scapy
pypcap # Use this instead of pcapy
dnet
pyx==0.12.1 # Use this version for Python 2 compatibility

# PyCrypto will try to install in System Python
#  export PREFIX=$(dirname $(pyenv which python))/../
# before installing
pycrypto

numpy # Required by gnuplot-py
# Install gnuplot-py with
# pip install gnuplot-py --allow-external gnuplot-py --allow-unverified gnuplot-py

# Jupyter
jupyter
